{% extends "base_templates/base_public.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  پیام فرستاده شد | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container">
  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar teal-text";>تشکر</h3><br><br></span>
  <div class="row center">
  <div class="fHarmattan card-panel hoverable grey lighten-3 z-depth-5 right-align"><h6>
    پیام شما به مدیران سایت فرستاده شد <br>
به زودی مدیران ما با شما تماس میگیرند تا مجموعه ورزشی را به سامانه اضافه کنند.
</h6>  </div>
</div>
</div>

</div>

</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
