{% extends "base_templates/base_public.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
    افزودن سالن ورزشی | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar teal-text";>افزودن سالن</h3><br><br></span>
  <div class="row center">
  <div class="card-panel hoverable grey lighten-3 z-depth-5">

        <form enctype="multipart/form-data" method="POST">
          {{salon_form.Hfield}}
          {% csrf_token %}
          <div class="input-field col s12 m6 l6">
            {{salon_form.area}}
            <label class="fLalezar" for="area">انداره سالن (متر مربع)</label>
          </div>
          <div class="input-field col s12 m6 l6">
            {{salon_form.floor_type}}
            <label class="fLalezar" for="floor_type">کیفیت کفپوش سالن</label>
          </div>
<div class="row">
<br>
</div>
          <h5 class="fLalezar gold-text">ورزش هایی که میشود در این سالن انجام داد</h5>
          <div class="row ">
          <div class="input-field col s6 m6 l6">
            <label>
              {{salon_form.is_football}}
              <span class="fLalezar">فوتبال (چمن)</span>
            </label>
          </div>
          <div class="input-field col s6 m6 l6">
            <label>
              {{salon_form.is_futsall}}
              <span class="fLalezar">فوتسال</span>
            </label>
          </div>
        </div>
        <div class="row offset-m3">
          <div class="input-field col s6 m6 l6">
            <label>
              {{salon_form.is_volleyball}}
              <span class="offset-m3 fLalezar">والیبال</span>
            </label>
          </div>
          <div class="input-field col s6 m6 l6">
            <label>
              {{salon_form.is_basketball}}
              <span class="fLalezar">بسکتبال</span>
            </label>
          </div>
        </div>
        <div class="row center-align">
          <div class=" input-field col s6 m6 l6">
            <label class="rigth-align">
              {{salon_form.is_handball}}
              <span  class="fLalezar">هندبال</span>
            </label>
          </div>
        </div>
<br><br>
<div id="divider" class="row center center-align">
<div style="border-top: solid teal 1px;" class="col s5 m5 l5">
</div>
<div style="margin-top:-12px;" class="center col s2 m2 l2">
<i class="material-icons small teal-text">blur_on</i>
</div>
<div style="border-top: solid teal 1px;" class="col s5 m5 l5">
</div>
</div>
        <h5 class="fLalezar gold-text">امکانات سالن</h5>
        <div class="row ">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.air_conditioner}}
            <span class="fLalezar" >تهویه هوا</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.drinking_water}}
            <span class="fLalezar" >آب آشامیدنی</span>
          </label>
        </div>
      </div>
      <div class="row offset-m3">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.shower}}
            <span class="offset-m3 fLalezar">حمام</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.locker}}
            <span class="fLalezar" >کمد</span>
          </label>
        </div>
      </div>
      <div class="row offset-m3">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.parking_area}}
            <span class="offset-m3 fLalezar">پارکینگ</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.changing_room}}
            <span class="fLalezar" >رختکن</span>
          </label>
        </div>
      </div>
      <div class="row offset-m3">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.wifi}}
            <span class="offset-m3 fLalezar">وای فای</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.safe_keeping}}
            <span class="fLalezar" >امانتداری</span>
          </label>
        </div>
      </div>
      <div class="row offset-m3">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.ball_rent}}
            <span class="offset-m3 fLalezar">اجاره توپ</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.buffet}}
            <span class="fLalezar" >بوفه</span>
          </label>
        </div>
      </div>
      <div class="row offset-m3">
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.local_taxi}}
            <span class="offset-m3 fLalezar">تاکسی ویژه</span>
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <label>
            {{salon_form.spectator_place}}
            <span class="fLalezar" >جایگاه تماشاچی</span>
          </label>
        </div>
      </div>
<br><br>
<div id="divider" class="row center center-align">
<div style="border-top: solid teal 1px;" class="col s5 m5 l5">
</div>
<div style="margin-top:-12px;" class="center col s2 m2 l2">
<i class="material-icons small teal-text">blur_on</i>
</div>
<div style="border-top: solid teal 1px;" class="col s5 m5 l5">
</div>
</div>
<div class="input-field col s12">
  {{salon_form.six_to_twelve_sessions_discount}}
  <label class="fLalezar" for="six_to_twelve_sessions_discount">درصد تخفیف برای کاربرانی که قراردادی به مدت بین ۶ تا ۱۲ جلسه تنظیم میکنند</label>
</div>
<div class="input-field col s12">
  {{salon_form.more_than_twelve_sessions_discount}}
  <label class="fLalezar" for="more_than_twelve_sessions_discount">درصد تخفیف برای کاربرانی که قراردادی بین ۱۲ و ۲۴ جلسه تنظیم میکنند</label>
</div>
<div class="input-field col s12">
  {{salon_form.more_than_24_sessions_discount}}
  <label class="fLalezar" for="more_than_24_sessions_discount">درصد تخفیف برای کاربرانی که قراردادی بالای ۲۴ جلسه تنظیم میکنند</label>
</div>
<div class="row">

</div>
<div class="row">

</div>
      <h5 class="fLalezar gold-text">عکس های سالن</h5>

      {{formsets.management_form}}
            <div class="row ">
      {% for formset in formsets %}

      <div class="input-field col s12 m6 l6">
        <div class="file-field input-field">
  <div class="btn gold fLalezar white-text">
{{formset}}
<span>عکس</span>
  </div>
  <div class="file-path-wrapper">
    <input class="file-path black-text" type="text">
  </div>
</div>
      </div>
    {% endfor %}
        </div>
            {% if salon_form.errors %}
            <p class="fHarmattan black-text">مشکلی پیش آمد. لطفا فرم را دوباره و با دقت پر کنید</p>
            {% endif %}
            {% if formsets.errors %}
            <p class="fHarmattan black-text">مشکلی پیش آمد. لطفا فرم را دوباره و با دقت پر کنید</p>
            {% endif %}
          <button class="hoverable btn-large waves-effect waves-dark gold white-text z-depth-3 fLalezar" type="submit">تایید
    </button>
    <br><br>
        </form>
  </div>
</div>
</div>


</div>
{% endblock %}
